* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 17px;
  --font1: "Montserrat", sans-serif;
  --font2: "Fraunces", sans-serif;
  --textColor: hsl(228, 12%, 48%);
  --product-name: hsl(212, 21%, 14%);
  --accent: rgb(48, 139, 94);
}
.container {
  width: 100vw;
  height: 100vh;
  padding: 0 5%;
  background-color: rgb(240, 233, 198);
  display: flex;
  align-items: center;
}
.inner-container {
  display: flex;
  flex-direction: column;
  height: 95%;
  max-width: 380px;
  margin: auto;
}
.product {
  width: 100%;
  height: 35%;
  border-radius: 1em 1em 0 0;
  background-image: url(https://iili.io/PnuRql.jpg);
  background-size: cover;
  background-position: center;
}
.product-desc {
  width: 100%;
  height: 60%;
  padding:10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff; 
  border-radius: 0 0 1em 1em;
}
.generic-name {
  letter-spacing: .5em;
  text-transform: uppercase;
  font-weight: 500;
}
h1 {
  font-family: var(--font2);
  font-size: 2em;
  font-weight:1000;
  color: var(--product-name);
  line-height: 1;
}
p {
  line-height: 1.8;
  color: var(--textColor);
  font-weight: 600;
  font-family: var(--font1);
  font-size: 0.85em;
}
.price {
  display: flex;
  align-items: center;
  gap: 25px;
}
.present-price {
  color: var(--accent);
  font-weight: 1000;
}
.previous-price {
  text-decoration: line-through;
}
button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 14px;
  margin-bottom: 10px;
  font-size: 0.8em;
  font-weight: 700;
  font-family: var(--font1);
  border-radius: 10px;
  border: none;
  text-transform: capitalize;
  background-color: var(--accent);
  color: #fff;
}
button .img{
  width: 50px;  
}

@media only screen and (min-width: 700px) {
  :root {
    font-size: 17px;
  }
  .container {
    padding: 7%;
  }
  .inner-container {
    flex-direction: row;
    width: 80%;
    max-width: 550px;
    margin: auto;
  }
  p {
    font-size: 0.8em;
  }
  .product {
    height: 100%;
    background: url(https://iili.io/Pnuus4.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
    flex-basis: 50%;
  }
  .product-desc {
    border-radius: 0 10px 10px 0;
    flex-basis: 50%;
    height: 100%;
    padding: 4%;
  }
}
@media only screen and (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
  .inner-container {
    width: 50%;
    max-width: 700px;
  }
  .product-desc {
    gap: 12px;
  }
}
@media only screen and (min-width: 1440px) {
  :root {
    font-size: 21px;
  }
  .inner-container {
    width: 80%;
  }
}
@media only screen and (min-width: 2560px) {
  :root {
    font-size: 40px;
  }
  .inner-container {
    max-width: 1300px;
  }
}
